
.container2025{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 200px;
    gap: 16px;
    transition: 0.3s;
}
.container2025 li{
    position: relative;
    overflow:hidden;
    flex: 0 0 80px;
    border-radius: 50px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #dddddd;
}
.container2025 li img{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.container2025 li,
.container2025 li img
{
    transition: 0.3s;
}
.container2025 li .content {
    transition: 1.5s ease;
}
.container2025 span{
   text-align: center;
   width: 75%;
}
.container2025 h2{
    font-weight: 200;
    font-size: 20px;
    line-height: 4px;
    margin-bottom: 10px;
    white-space: nowrap;
    color: #fff;
}
.container2025 p{  
    font-family: sans-serif;
    color: #ddd;
    font-size: 10px;
    width: 100%;
}

.container2025 li .content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    color: #fff;
    padding: 15px;
    background:
    linear-gradient(
        0deg, rgb(0 0 0 / 70%) 10%,
         rgb(255 255 255 / 0%) 100%
    );
    opacity: 0;
    visibility: hidden;
}
.container2025 :hover{
    gap: 0;
}
.container2025 li .content span{
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 0px;
    translate: -50%;
    scale: 0.85;
    visibility: hidden;
    opacity: 0;
}
.container2025 li:hover{
    flex: 0 1 260px;
    scale: 1.1;
    z-index: 10;
    opacity: 1;
}

.container2025 li:hover .content{
    opacity: 1;
    visibility: visible;

}
.container2025 li:hover span{
    scale: 1;
    opacity: 1;
    visibility: visible;
}